<template name="HomePublic">
    <div class="page-container container landing" id="content">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
    </div>

<body class="page-header-fixed">

<!-- BEGIN MAIN LAYOUT -->
<!-- BEGIN INTRO SECTION -->
<section id="intro">
    <div id="carousel-example-generic" class="carousel slide">
        <!-- Wrapper for slides -->
        <div class="carousel-inner text-uppercase" role="listbox">
            <!-- First slide -->
            <div class="item carousel-item-one active">
                <div class="container">
                    <h3 class="carousel-position-one animate-delay carousel-title-v1" data-animation="animated fadeInDown">
                        FRA-UAS Calendar
                    </h3>
                    <p class="carousel-position-two animate-delay carousel-subtitle-v1" data-animation="animated fadeInDown">
                        Book appointments <br> with your professor!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END INTRO SECTION -->

<!-- BEGIN MAIN LAYOUT -->
<div class="page-content">
    <!-- SUBSCRIBE BEGIN -->
    <div class="subscribe">
        <div class="container">
            <div class="subscribe-wrap">
                <div class="subscribe-body subscribe-desc md-margin-bottom-30">
                    <h1>Discover the new service at Frankfurt University</h1>
                    <p>Book an appointment now!</p>
                </div>

            </div>
        </div>
    </div>
    <!-- SUBSCRIBE END -->

    <!-- BEGIN ABOUT SECTION -->
    <section id="about">
        <!-- Services BEGIN -->
        <div class="container service-bg">
            <div class="row">
                <div class="col-sm-4">
                    <div class="services sm-margin-bottom-100">
                        <div class="services-wrap">
                            <div class="service-body">
                                <img src="/images/icon1.png" alt="">
                            </div>
                        </div>
                        <h2>Save time</h2>
                        <p>No more emails</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services sm-margin-bottom-100">
                        <div class="services-wrap">
                            <div class="service-body">
                                <img src="/images/icon2.png" alt="">
                            </div>
                        </div>
                        <h2>Available on all platforms</h2>
                        <p>Desktop, Android, iOS</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="services">
                        <div class="services-wrap">
                            <div class="service-body">
                                <img src="/images/icon3.png" alt="">
                            </div>
                        </div>
                        <h2>Easy to use</h2>
                        <p>No registration needed</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services END -->
    </section>
    <!-- END ABOUT SECTION -->

    <!-- BEGIN FEATURES SECTION -->
    <section id="features">
        <!-- Features BEGIN -->
        <div class="features-bg">
            <div class="container">
                <div class="heading">
                    <h2><strong>FRA-UAS Calendar</strong> functions</h2>
                    <p>Look at our innovations</p>
                </div><!-- //end heading -->

                <!-- Features -->
                <div class="row margin-bottom-70">
                    <div class="col-md-6 md-margin-bottom-70">
                        <div class="features">
                            <img src="/images/screen1.png" alt="">
                            <div class="features-in">
                                <h3><a href="#">Book appointments</a></h3>
                                <p>Easy and fast booking</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="features">
                            <img src="/images/screen2.png" alt="">
                            <div class="features-in">
                                <h3><a href="#">Intuitive design</a></h3>
                                <p>Get started right away</p>
                            </div>
                        </div>
                    </div>
                </div><!-- //end row -->
                <div class="row margin-bottom-80">
                    <div class="col-md-6 md-margin-bottom-70">
                        <div class="features">
                            <img src="/images/screen3.png" alt="">
                            <div class="features-in">
                                <h3><a href="#">Create calendars</a></h3>
                                <p>Register yourself to manage your own appointments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="features">
                            <img src="/images/screen4.png" alt="">
                            <div class="features-in">
                                <h3><a href="#">Stay managed</a></h3>
                                <p>Always know your coming up events</p>
                            </div>
                        </div>
                    </div>
                </div><!-- //end row -->
                <!-- End Features -->

                <center><a href="/register" class="btn-brd-danger">Try it now</a></center>
            </div>
        </div>
        <!-- Features END -->
    </section>
    <!-- END FEATURES SECTION -->

    <!-- BEGIN CONTACT SECTION -->
    <section id="contact">
        <!-- Footer Coypright -->
        <div class="footer-copyright">
            <div class="container">
                <h3>FRA-UAS Calendar</h3>
                <P>An IT project in cooperation with Prof. Dr. Sergej Alekseev</P>
            </div>
        </div>
        <!-- End Footer Coypright -->
    </section>
    <!-- END CONTACT SECTION -->
</div>
<!-- END MAIN LAYOUT -->
</body>

</template>