<template name="HomePublic">
    <div class="page-container container" id="content">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        <form class="new-availability">
            <input type="text" name="text" placeholder="Type to add new Availability" />
        </form>

    </div>
    <ul>
        {{#each getAvailabilities}}
            {{> task}}
        {{/each}}
    </ul>
</template>

<template name="task">
    <li>{{text}}</li>
</template>