<template name="CalendarPublic">
	<div class="container">
        <div>
            {{#if errorMessage getPageSession}}
                <div class="alert alert-warning">
                    {{errorMessage getPageSession}}
                </div>
            {{/if}}
            {{#if infoMessage getPageSession}}
                <div class="alert alert-success">
                    {{infoMessage getPageSession}}
                </div>
            {{/if}}
            {{#if isNotEmpty}}
                <h2>{{ CurrentCalendarName }}</h2>
                {{> ReactiveFullcalendar options=publicCalendarOptions}}
            {{else}}
                <div class="alert alert-warning">
                    This calendar is either empty or unpublished.
                </div>
            {{/if}}
        </div>
    </div>
</template>