<template name="CalendarPublic">
	<div class="container">
        <div>
            <h2>{{ CurrentCalendarName }}</h2>
            {{#if errorMessage getPageSession}}
                <div class="alert alert-warning">
                    {{errorMessage getPageSession}}
                </div>
            {{/if}}
            {{#if infoMessage getPageSession}}
                <div class="alert alert-success">
                    {{infoMessage getPageSession}}
                </div>
            {{/if}}
            {{> ReactiveFullcalendar options=publicCalendarOptions}}
        </div>
    </div>
</template>