<template name="CalendarPublic">
	<div class="container">
		<div class="account-form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
		</div>
        <table id="dataview-table" class="table table-striped table-hover">
            <thead id="dataview-table-header">
            <tr id="dataview-table-header-row">
                <th class="th-sortable" data-sort="startDate">
                    startDate
                </th>
                <th class="th-sortable" data-sort="endDate">
                    endDate
                </th>
            </tr>
            </thead>
            {{#each getCalendarAvailabilities}} {{> event }} {{/each}}
        </table>
	</div>
</template>

<template name="event">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td>
            {{startDate}}
        </td>
        <td>
            {{endDate}}
        </td>
    </tr>
    </tbody>
</template>