node_modules/
.meteor-kitchen.json
/.idea/
npm-debug.log
.meteor/local
/settings/settings.json
*travis.log
.deploy/deploy_rsa
/.deploy/deploy_rsa.pub
/.deploy/deploy_rsa
/docs/
/client/styles/framework/bootstrap3/custom.bootstrap.import.less
/client/styles/framework/bootstrap3/custom.bootstrap.less
/client/styles/framework/bootstrap3/custom.bootstrap.mixins.import.less
Würde .docs/client/data/ löschen
/meteor.log
/meteor-debug.log
