sudo: required
language: android
android:
  components:
  - platform-tools
  - tools
  - android-23
node_js:
- 4.4.7
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
before_install:
- npm --version
- node -v
- curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
- apt-get update
- apt-get install -y nodejs
- npm --version
- node -v
- openssl aes-256-cbc -K $encrypted_a54e861a1b97_key -iv $encrypted_a54e861a1b97_iv -in .deploy/deploy_rsa.enc -out .deploy/deploy_rsa -d
- npm install -g mup ssh2
- curl https://install.meteor.com | /bin/sh
- meteor npm install
- sed -i 's|ANCHOR|'"$TRAVIS_BUILD_NUMBER"'_'"$TRAVIS_BRANCH"'|g' client/views/layout/layout.html
- sed -i 's|MAILURL|'"$MAIL_URL"'|g' .deploy/production/mup.js
- sed -i 's|MAILURL|'"$MAIL_URL"'|g' .deploy/test/mup.js
- sed -i 's|RECAPTCHA|'"$RE_CAPTCHA"'|g' .deploy/test/mup.js
- sed -i 's|RECAPTCHA|'"$RE_CAPTCHA"'|g' .deploy/production/mup.js
- sed -i 's|KADIRAAPPSECRET|'"$KADIRA_APP_SECRET_PROD"'|g' .deploy/production/mup.js
- sed -i 's|KADIRAAPPSECRET|'"$KADIRA_APP_SECRET_TEST"'|g' .deploy/test/mup.js
- sed -i 's|FEEDSLACK_SECRET|'"$FEEDSLACK"'|g' .deploy/production/mup.js
- sed -i 's|FEEDSLACK_SECRET|'"$FEEDSLACK"'|g' .deploy/test/mup.js
- sed -i 's|SECRET_GCM|'"$GCMKEY"'|g' .deploy/production/mup.js
- sed -i 's|SECRET_GCM|'"$GCMKEY"'|g' .deploy/test/mup.js
- HEROKU=0
- if [ ! $TRAVIS_BRANCH == master ] && [ ! $TRAVIS_BRANCH == test ];then HEROKU=1;fi
- echo $HEROKU
services:
- mongodb
script: npm test
after_success:
- bash .deploy/mup_deploy.sh $TRAVIS_BRANCH && if [ $? == 1 ]; then exit 1;fi
notifications:
  slack:
    secure: Y+0LaRuAt1WOQjHIOBPX9ttc+zTPJG8meQ3dGOK8v7Vl/+MN6fQCwuG/RAX+Eev3QjCNNc549Gc+MBLMWovDiePkO+t0USk/snmpJspX/sh9pIxvm7vFxya4E0Iv2ROWLQ/hh0DWSuaUMZYZHPV7zUzZOBJtbViDYufaFszbLFbO3BuGhDcZRppkWAld/9R8878Dg+PpA+qgikEeMkxB8+nZ2d9eP9Ywl6X/UjJ1B7rq/QINuRmryxT9/Ht5D7M/FfzARf/rC7NrZJ/uHUtT8Jm/1A4I7w0pB1ielAM7Imzqc6Sqa3wy5MjxuTiEodi7pgaeN9a1MhTa1VMQa//9v/tjTk6MA+C1mwh89jidQby1Vv/fcdOJwtZXKgQIppFe/LhiKi6+6DLu0Rs2Yv5DXKDf6jZ/qZCohm2WnQGbU+QOinrbHH75d+Kn4RC5k8xus19J99nmEE5OHIFpeLEbKnGpzjk1X1L3ixBXNCs7mllJ42D6t5DqJd7TjYI9Ub14cY/q6NC3G6uCGhO0jrdFidh0NgOs6cVAphdQ3ehyFG/xlHoiFDiscbuptFvljuaQ2/6d7dcKTEs7s3HoiMpRX0u6q3o/CFGntDuyrmbtMA5g9pDg7ao+dwbviIVuc43CnoCh7+lRiemp+V4jtvdXOltXd2ckBGuKCwv0Fz6G92w=
before_deploy:
- meteor build $HOME --server $(bash get_target.sh $TRAVIS_BRANCH)
- cp $TRAVIS_BUILD_DIR/.keystore $HOME
- jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 $HOME/android/release-unsigned.apk date-your-prof -keystore $HOME/.keystore -storepass $KEYSTOREPASS -keypass $KEYPASS
- rm -f "$HOME/android/dateyourprof_$TRAVIS_BRANCH.apk"
- "${ANDROID_HOME}/build-tools/21.1.2/zipalign 4 $HOME/android/release-unsigned.apk $HOME/android/dateyourprof_$TRAVIS_BRANCH.apk"
deploy:
  - provider: releases
    api_key: $GIT_DEPLOY_KEY
    file: "$HOME/android/dateyourprof_$TRAVIS_BRANCH.apk"
    skip_cleanup: true
    on:
      all_branches: true
      tags: true
      condition: "$TRAVIS_TAG =~ ^android.*$"
  - provider: heroku
    skip_cleanup: true
    api_key:
      secure: pNmRMpymVSwXzA5de4D+kuxx6M6u0MB9nPcl5PaQ3yVLhLQVw2F1x9Uk+P4D/nY+ykQtrsSuC171Fxniy6posNz7S407Sikh8MGs3s8KeSnvTMWgbTcP+nNzBdM/a/rjbTAFEN/wcW29H5zYEt1L4GB9lpoLBAkeVpEfY+EwvI7mp5CBTZgBlLbcJA2/CDG0NAsXcLRnZuUUKgQC3qh4gKz8hZrmP2aiqWRztxcByf4dvopiCV8fzuqPqTLVx9vCFFkf5scIHCBK+UCxbrV3gNVBbecaCgDlLAjag4B79r9CLSJNMstKIK9z77EJb1Wx8+qGEPpnRGgiZzszmej5h9FeA2+hl8z6FwbbrzG1E5ofwLNrwBT7o/c3fSpWFdKud3bRq6FNBHmFeC4pJa++czmhdy1ua+RIdvyZorBg+4lHOhrLhyp+4z46TDTt1i761/ud+19/cOePu7U1QUbk6+Q0AbCEvofWruTmVsNv6zUQR47UCmPLSxfEFeYyh794amKCe2XmygwaoOxmXcTZZlNqN/e27h3frKJZmkGiWxFwnFllH8qsnC8KT/eBGg3msnHPuTDaA+TrhrIee25IHvLCxo1TNYlvLXrnLrvjQvGttbFxPcfi4ggp+jIIs4VpPauwu/I0lHN/RY9vfI9G/TFB5cfnlqanSpcI6bdQnAM=
    app: meteorkalender
    on:
      repo: boredland/MeteorKalender
      condition: "$HEROKU == 1"
      all_branches: true