<template name="faq">



    <div class="page-container container">
        <div class="row" id="title_row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                </div>
                <div id="accordion" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is Date Your Prof?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Date Your Prof is the new way for faculty members to share their office hours online and enable users to book appointments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How to use Date Your Prof?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <h5>Step 1: Create a new calendar (or use the default one)</h5>
                                <p> If you use the default calendar, it won’t have a proper name or location. You can edit the default calendar or create a new one.</p>

                                <h5>Step 2: Create your availabilities</h5>
                                <p> An availability is a period of time where you are available to meet students. It can be automatically split into smaller chunks which can be individually booked.</p>

                                <h5>Step 3: Share the link to your calendar so people can book appointments</h5>
                                <p> When an appointment is booked and confirmed, you will get an email with the details. You can still cancel the appointment afterwards.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who can use Date Your Prof?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> To register an account and be able to create calendars and appointments you need a Frankfurt-UAS email account.
                                    Anyone you share a calendar with can book appointments.</p>
                                    <p>But you can create a fork from our version on <a href="https://github.com/boredland/MeteorKalender/" target="_blank">
                                    github</a> and create your own App</p>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Should I press the red button?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Yes, we value your feedback. If you have problems or suggestions please share them with us, we'll do our best to address them.</p>
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What should I do in case of emergency?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Don't panic and contact us using the feedback button! It will alert us to the problem.</p>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How do i cancel an appointment?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>First click on appointments and then choose your booked appointment by clicking on it. Afterwards click on the "cancel appointment" button.
                                    You can give a reason for the cancellation and the person you were supposed to meet will get a notice via email.</p>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    What's the difference between published and list public?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p> The 'published' flag lets you control if you want others to be able to access the calendar by its shared link. </p>
                                <p> By setting 'list public', it will be listed on the calendars page and accessible by everyone.</p>
                            </div>
                        </div>

                    </div>
                </div>




         </div>





        </div>
        </div>

</template>