<template name="faq">



    <div class="page-container container">
        <div class="row" id="title_row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                </div>

                <a onclick="text1.style.display='block';an.style.display='none';zu.style.display='block'" id="an" style="display: block" href="#neu"><h5>What is Date Your Prof?</h5> </a>
                <a name="neu"></a><div id="text1" style="display: none"><p>Date Your Prof is the new way for faculty members to share their office hours online and enable users to book appointments.</p></div>


                <a onclick="text2.style.display='block';an.style.display='none';zu1.style.display='block'" id="an" style="display: block" href="#neu"><h5>How to use Date Your Prof?</h5> </a>
                <a name="neu"></a><div id="text2" style="display: none">                <p>Step 1: Create a new calendar (or use the default one)</p>
                <p> If you use the default calendar, it won’t have a proper name or location. You can edit the default calendar or create a new one.</p>

                <p>Step 2: Create your availabilities</p>
                <p> An availability is a period of time where you are available to meet students. It can be automatically split into smaller chunks which can be individually booked.</p>

                <p>Step 3: Share the link to your calendar so people can book appointments</p>
                <p> When an appointment is booked and confirmed, you will get an email with the details. You can still cancel the appointment afterwards.</p></div>

                <a onclick="text3.style.display='block';an.style.display='none';zu2.style.display='block'" id="an" style="display: block" href="#neu"><h5>I am not a Member of Frankfurt University of Applied Science , can i still use meteor calendar?</h5> </a>
                <a name="neu"></a><div id="text3" style="display: none">                <p> No, you need a Fra-UAS email account to register.  But you can create a fork from our version on <a href="https://github.com/boredland/MeteorKalender/" target="_blank">
                github</a> and create your own App</p></div>

                <a onclick="text4.style.display='block';an.style.display='none';zu2.style.display='block'" id="an" style="display: block" href="#neu"><h5>Should I press the red button?</h5> </a>
                <a name="neu"></a><div id="text4" style="display: none">                <p>Definitely yes !. </p></div>

                <a onclick="text5.style.display='block';an.style.display='none';zu2.style.display='block'" id="an" style="display: block" href="#neu"><h5>What should I do in case of emergency?</h5> </a>
                <a name="neu"></a><div id="text5" style="display: none">                <p>Don't panic and date your prof. She or he knows what to do. </p></div>





        </div>
        </div>
    </div>
</template>