<template name="faq">
    <div class="page-container container">
        <div class="row" id="title_row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Frequently Asked Questions</h3>
                </div>
                <h5>What is Date Your Prof?</h5>
                Date Your Prof is the new way for faculty members to share their office hours online and enable users to book appointments.
                <br>

                <h5>How to use Date Your Prof?</h5>

                <h6>Step 1: Create a new calendar (or use the default one)</h6>
                If you use the default calendar, it won’t have a proper name or location. You can edit the default calendar or create a new one.

                <h6>Step 2: Create your availabilities</h6>
                An availability is a period of time where you are available to meet students. It can be automatically split into smaller chunks which can be individually booked.

                <h6>Step 3: Share the link to your calendar so people can book appointments</h6>
                When an appointment is booked and confirmed, you will get an email with the details. You can still cancel the appointment afterwards.

                <h5>I am not a Member of Frankfurt University of Applied Science , can i still use meteor calendar?</h5>
                No, you need a Fra-UAS email account to register.

                <h5>Should I press the red button?</h5>
                Yes, but be careful!

                <h5>What should I do in case of emergency?</h5>
                Date your prof



        </div>
        </div>
    </div>
</template>