<template name="Booking">
	<div class="container">
		<div class="account-form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
            {{#if infoMessage}}
                <div class="alert alert-success">
                    {{infoMessage}}
                </div>
                <button class="btn btn-lg btn-primary btn-block go-home" type="button" data-loading-text="Please wait...">
                    OK
                </button>
            {{/if}}
		</div>
        {{#if itemsReady}}
            {{#unless infoMessage}}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Book an appointment from {{ CurrentCalendarName }}</h3>
                </div>
                <div class="panel-body">
                <p>from: {{formatDateTime CurrentAvailabilityFrom}} <br>to: {{ formatDateTime CurrentAvailabilityTo}} <br></p>
                {{> quickForm id="bookAvailabilityForm" schema=formSchema type="method" meteormethod="booking.insert"}}
                <button type="submit" id="Back-button" class="btn btn-default">
                    Back
                </button>
                </div>
            </div>
            {{/unless}}
        {{/if}}


    </div>
</template>