<template name="Booking">
	<div class="container">
		<div class="account-form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
		</div>
        {{#if itemsReady}}
        <h2 id="component-title">
            Book a consultation hour from Calendar {{ CurrentCalendarName }}
        </h2>
        <p>from {{CurrentAvailabilityFrom}} <br>to {{CurrentAvailabilityTo}} <br></p>
        {{> BookingForm}}
        {{/if}}
    </div>
</template>

<template name="BookingForm">
    {{> quickForm id="bookAvailabilityForm" schema=formSchema type="method" meteormethod="booking.insert"}}
</template>