<template name="Booking">
	<div class="container">
		<div class="account-form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
		</div>
        {{> BookingForm}}
    </div>
</template>

<template name="BookingForm">
    <h2 id="component-title">
        Book a consultation hour
    </h2>
    <p>from {{CurrentAvailabilityFrom}} <br>to {{CurrentAvailabilityTo}} <br></p>
    {{> quickForm id="bookAvailabilityForm" schema=formSchema type="method" meteormethod="booking.insert"}}
</template>