<template name="CalendarOverview">
    <div class="page-container container">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        {{#if errorMessage getPageSession}}
            <div class="alert alert-warning">
                {{errorMessage getPageSession}}
            </div>
        {{/if}}
        {{#if infoMessage getPageSession}}
            <div class="alert alert-success">
                {{infoMessage getPageSession}}
            </div>
        {{/if}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar Overview</h3>
            </div>
            {{#if Template.subscriptionsReady}}
                {{> reactiveTable settings=settings}}
            {{/if}}
        </div>
    </div>
</template>

<template name="CalendarOverviewItem">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td>
            {{getOwnerById userId}}
        </td>
        <td>
            {{name}}
        </td>
        <td class="not-mobile">
            {{location}}
        </td>
    </tr>
    </tbody>
</template>