<template name="Appointments">
    <div class="page-container container">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        {{#if errorMessage getPageSession}}
            <div class="alert alert-warning">
                {{errorMessage getPageSession}}
            </div>
        {{/if}}
        {{#if infoMessage getPageSession}}
            <div class="alert alert-success">
                {{infoMessage getPageSession}}
            </div>
        {{/if}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Appointments</h3>
            </div>
            <div id="dataview-controls" class="form-group">
                <button type="submit" id="dataview-download-button" class="btn btn-primary">
                <span class="fa fa-download" aria-hidden="true">
                </span>
                    Download as Ics
                </button>
            </div>
            {{> ReactiveFullcalendar options=appointmentsCalendarOptions }}
        </div>
    </div>
</template>