<template name="Calendars">
    <div class="page-container container">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        {{#if errorMessage getPageSession}}
            <div class="alert alert-warning">
                {{errorMessage getPageSession}}
            </div>
        {{/if}}
        {{#if infoMessage getPageSession}}
            <div class="alert alert-success">
                {{infoMessage getPageSession}}
            </div>
        {{/if}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Calendars</h3>
            </div>
            <div id="dataview-controls" class="form-group">
                <button type="submit" id="dataview-insert-button" class="btn btn-primary">
					<span class="fa fa-plus">
					</span>
                    Add new
                </button>
            </div>
            <table id="dataview-table" class="table table-striped">
                <thead id="dataview-table-header" class="not-mobile">
                <tr id="dataview-table-header-row">
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Published
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                </thead>
                {{#each getCalendars}} {{> calendar}} {{/each}}
            </table>
        </div>
    </div>
</template>

<template name="calendar">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td class="td-icon">
        <td class="fc-event-dot" style="background-color: {{color}};margin-top: 45%;"></td>
        </td>
        <td>
            {{name}}
        </td>
        <td class="not-mobile">
            {{location}}
        </td>
        <td class="not-mobile">
            <input id="published" type="checkbox" {{isPublished published}}>
        </td>
        <td class="td-icon">
            <a target="_blank" href="/calendar_public/{{linkslug}}" title="Open in a new tab"><span id="calendar_link"
                                                                                                    class="fa fa-link"
                                                                                                    title="Open in a new tab"></span></a>
        </td>
        <td class="td-icon">
            <span id="copy-button" class="fa fa-files-o" title="Copy Link">
			</span>
        </td>
        <td class="td-icon">
			<span id="edit-button" class="fa fa-pencil" title="Edit">
			</span>
        </td>
        <td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o" title="Delete">
			</span>
        </td>
    </tr>
    </tbody>
</template>