<template name="Calendars">
    <div class="page-container container">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        <h2>Calendars</h2>
        {{#if errorMessage getPageSession}}
            <div class="alert alert-warning">
                {{errorMessage getPageSession}}
            </div>
        {{/if}}
        {{#if infoMessage getPageSession}}
            <div class="alert alert-success">
                {{infoMessage getPageSession}}
            </div>
        {{/if}}
            <button type="submit" id="dataview-insert-button" class="btn btn-primary">
					<span class="fa fa-plus">
					</span>
                Add new
            </button>
        <table id="dataview-table" class="table table-striped">
            <thead id="dataview-table-header">
            <tr id="dataview-table-header-row">
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Color
                </th>
                <th>
                    Published
                </th>
                <th>

                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            {{#each getCalendars}} {{> calendar}} {{/each}}
        </table>
    </div>
</template>

<template name="calendar">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td>
            {{name}} <a target="_blank" href="/calendar_public/{{linkslug}}" title="Open in a new tab"><span id="calendar_link" class="fa fa-link" title="Open in a new tab"></span></a>
        </td>
        <td>
            {{location}}
        </td>
        <td>
            <td style="background-color: {{color}};width: 25px;height: 25px"></td>
        </td>
        <td>
            {{published}}
        </td>
        <td class="td-icon">
            <span id="copy-button" class="fa fa-files-o" title="Copy Link">
			</span>
        </td>
        <td class="td-icon">
			<span id="edit-button" class="fa fa-pencil" title="Edit">
			</span>
        </td>
        <td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o" title="Delete">
			</span>
        </td>
    </tr>
    </tbody>
</template>