<template name="HomePrivate">
    <div class="page-container container" id="content">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <h2 id="page_title" class="pull-left">
                    Willkommen {{userFullName}}!
                </h2>
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        {{> AvailabilityInsertForm}}
        <table id="dataview-table" class="table table-striped table-hover">
            <thead id="dataview-table-header">
            <tr id="dataview-table-header-row">
                <th class="th-sortable" data-sort="UserId">
                    UserId
                </th>
                <th class="th-sortable" data-sort="StartDate">
                    StartDate
                </th>
                <th class="th-sortable" data-sort="EndDate">
                    EndDate
                </th>
                <th class="th-sortable" data-sort="CategoryId">
                    CategoryId
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            {{#each getAvailabilities}} {{> availability}} {{/each}}
        </table>
    </div>
</template>

<template name="availability_table">

</template>
<template name="availability">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td>
            {{userId}}
        </td>
        <td>
            {{startDate}}
        </td>
        <td>
            {{endDate}}
        </td>
        <td>
            {{categoryId}}
        </td>
        <td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
        </td>
        <td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
        </td>
    </tr>
    </tbody>
</template>

<template name="AvailabilityInsertForm">
    <div id="availabilityinsertform" class="">
        <h2 id="component-title">
            New availability
        </h2>
        <form role="form">
            {{#if errorMessage}}
                <div class="alert alert-warning">
                    {{errorMessage}}
                </div>
            {{/if}}

            {{#if infoMessage}}
                <div class="alert alert-success">
                    {{infoMessage}}
                </div>
            {{/if}}
            <div class="form-group  field-date">
                <label for="date">
                    StartDate
                </label>
                <div class="input-div">
                    <div class="input-group date">
                        <input type="text" id="startdate" value="{{formatDate 'today' 'YYYY-MM-DDTHH:MM:SS'}}" class="form-control " required="required" data-type="date" data-format="YYYY-MM-DDTHH:MM:SS">
                        <span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
                    </div>
                    <span id="help-text" class="help-block">
					</span>
                    <span id="error-text" class="help-block">
					</span>
                </div>
            </div>
            <div class="form-group  field-date">
                <label for="date">
                    EndDate
                </label>
                <div class="input-div">
                    <div class="input-group date">
                        <input type="text" id="enddate" value="{{formatDate 'today' 'YYYY-MM-DDTHH:MM:SS'}}" class="form-control " required="required" data-type="date" data-format="YYYY-MM-DDTHH:MM:SS">
                        <span class="input-group-addon">
							<i class="fa fa-calendar">
							</i>
						</span>
                    </div>
                    <span id="help-text" class="help-block">
					</span>
                    <span id="error-text" class="help-block">
					</span>
                </div>
            </div>
            <div class="form-group  field-customer-id">
                <label for="categoryId">
                    CategoryId
                </label>
                <div class="input-div">
                    <input type="text" id="categoryid" value="exampleId" class="form-control " autofocus="autofocus" required="required">
                    <!--<select class="form-control " name="categoryId" required="required">
                        {{#each customer_list}}
                            <option value="{{_id}}">							{{name}}</option>
                        {{/each}}
                    </select>-->
                    <span id="help-text" class="help-block">
					</span>
                    <span id="error-text" class="help-block">
					</span>
                </div>
            </div>
            <div class="form-group">
                <div class="submit-div">
                    <button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
                        Save
                    </button>
                    <a href="#" id="form-cancel-button" class="btn btn-default">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</template>