<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Willkommen {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>

			</div>
            <form class="new-availability">
                <input type="text" name="text" placeholder="Type to add new Availability" />
            </form>
            <ul>
                {{#each getAvailabilities}}
                    {{> avail}}
                {{/each}}
            </ul>
		</div>

        </div>
</template>

<template name="avail">
    <li>{{text}}</li>
</template>