<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Willkommen {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
        <ul>
            {{#each availabilities}}
                {{> availability}}
            {{/each}}
            {{ userid }}
        </ul>
	</div>
</template>

<template name="availability">
    <li>{{userId}}</li>
    <li>{{startDate}}</li>
    <li>{{endDate}}</li>
    <li>{{categoryId}}</li>
</template>