<template name="Availabilities">
    <div class="page-container container">
        <div class="row" id="title_row">
            <div class="col-md-12">
                <div id="page_menu" class="pull-right">
                </div>
            </div>
        </div>
        {{> AvailabilityInsertForm}}
        <table id="dataview-table" class="table table-striped table-hover">
                <thead id="dataview-table-header">
                <tr id="dataview-table-header-row">
                    <th class="th-sortable" data-sort="startDate">
                        startDate
                    </th>
                    <th class="th-sortable" data-sort="endDate">
                        endDate
                    </th>
                    <th class="th-sortable" data-sort="categoryId">
                        calendarId
                    </th>
                    <th class="th-sortable" data-sort="familyId">
                        familyId
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                </thead>
                {{#each getAvailabilities}} {{> availability}} {{/each}}
        </table>
    </div>
</template>

<template name="AvailabilityInsertForm">
    <h2 id="component-title">
        New availability
    </h2>
    {{> quickForm id="availabilityInsertForm" schema=formSchema type="method" meteormethod="insertAvailability"}}
</template>

<template name="availability">
    <tbody id="dataview-table-items">
    <tr id="dataview-table-items-row">
        <td>
            {{startDate}}
        </td>
        <td>
            {{endDate}}
        </td>
        <td>
            {{calendarId}}
        </td>
        <td>
            {{familyId}}
        </td>
        <td class="td-icon">
			<span id="edit-button" class="fa fa-pencil" title="Edit">
			</span>
        </td>
        <td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o" title="Delete">
			</span>
        </td>
    </tr>
    </tbody>
</template>

<template name="dpReplacement">
    <div class='input-group date'>
        <span class="input-group-addon fa fa-calendar" id="basic-addon1"></span>
        <input type="text" value="" {{atts}} aria-describedby="basic-addon1"/>
    </div>
</template>