<template name="UserSettings">
    <div id="settings" class="page-container container">
        <div class="row">
            <div class="col-md-12" id="content">
                <div class="row" id="title_row">
                    <div class="col-md-12">
                        <div id="page_menu" class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if errorMessage getPageSession}}
            <div class="alert alert-warning">
                {{errorMessage getPageSession}}
            </div>
        {{/if}}
        {{#if infoMessage getPageSession}}
            <div class="alert alert-success">
                {{infoMessage getPageSession}}
            </div>
        {{/if}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Your Settings</h3>
            </div>
            <form role="form" id="save_profile">
                <div class="form-group  field-profile-name">
                    <label for="profile.name">
                        Name
                    </label>
                    <div class="input-div">
                        <input type="text" name="profile.name" value="{{current_user_data.profile.name}}"
                               class="form-control " autofocus="autofocus" required="required"
                               data-type="string">
                        <span id="help-text" class="help-block">
					</span>
                        <span id="error-text" class="help-block">
					</span>
                    </div>
                </div>
                <div class="form-group  field-profile-website">
                    <label for="profile.website">
                        E-Mail address
                    </label>
                    <div class="input-div">
                        <input type="text" name="profile.email" value="{{current_user_data.profile.email}}"
                               class="form-control " data-type="string">
                        <span id="help-text" class="help-block">
					</span>
                        <span id="error-text" class="help-block">
					</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="submit-div">
                        <button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
                            Save
                        </button>
                    </div>
                </div>
            </form>
            <form role="form" id="change_pass_form">
                <div class="form-group  field-profile-name">
                    <div class="input-div">
                        <input id="old_password" type="password" class="form-control"
                               placeholder="Your old password" required
                               autofocus>
                        <span id="help-text" class="help-block">
					</span>
                        <span id="error-text" class="help-block">
					</span>
                    </div>
                </div>
                <div class="form-group  field-profile-name">
                    <div class="input-div">
                        <input id="new_password" type="password" class="form-control" placeholder="New password"
                               required>
                        <span id="help-text" class="help-block">
					</span>
                        <span id="error-text" class="help-block">
					</span>
                    </div>
                </div>
                <div class="form-group  field-profile-name">
                    <div class="input-div">
                        <input id="confirm_pass" type="password" class="form-control"
                               placeholder="Repeat new password"
                               required>
                        <span id="help-text" class="help-block">
					</span>
                        <span id="error-text" class="help-block">
					</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="submit-div">
                        <button id="form-submit-button" class="btn btn-success" type="submit"
                                data-loading-text="Please wait...">
						<span class="fa fa-check">
						</span>
                            Save
                        </button>
                    </div>
                </div>
            </form>
            <div id="dataview-controls" class="form-group">
                <label for="appointmentStream">Appointments as ics stream (keep secret!)</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    <input name="appointmentStream" type="text" class="form-control shorten"
                           value="{{tokenUrl}}" style="overflow: hidden;text-overflow: ellipsis;" readOnly>
                    <span class="input-group-btn" aria-hidden="true">
                            <button id="copy-button" class="btn btn-primary" type="submit">Copy</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</template>

